Resources:
  AWSEBSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupName: eb-celery-worker
      GroupDescription: Security group for the EB environment
      SecurityGroupEgress:
        - Description: Allow all vpc traffic out
          CidrIp: 10.193.0.0/16
          IpProtocol: tcp
          FromPort: 443
          ToPort: 443
      SecurityGroupIngress:
        - Description: Allow all vpc traffic in
          CidrIp: 10.193.0.0/16
          IpProtocol: tcp
          FromPort: 443
          ToPort: 443
      VpcId: vpc-0a28496cb7b4cc310
