Resources:
  AWSEBV2LoadBalancer:
    Type: AWS::ElasticLoadBalancingV2::LoadBalancer
    Properties:
      Scheme: internal
      value:
        # - subnet-03556c28b1b91acda
        - subnet-0d85b8312d7d3e31d
      Type: network
      SecurityGroups:
        - sg-07076ca607d35ce3c
  AWSEBV2LoadBalancerListener:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Properties:
      Port: 443
      Protocol: TCP
  AWSEBV2LoadBalancerTargetGroup:
    Type: AWS::ElasticLoadBalancingV2::TargetGroup
    Properties:
      Port: 443
      Protocol: TCP
      VpcId: vpc-0a28496cb7b4cc310
      HealthCheckProtocol: HTTPS
      HealthCheckPort: 443
      HealthCheckPath: /health
