option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: t2.micro
  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: demo
  - namespace: aws:autoscaling:launchconfiguration
    option_name: IamInstanceProfile
    value: aws-elasticbeanstalk-ec2-role
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: vpc-0a28496cb7b4cc310
  - namespace: aws:ec2:vpc
    option_name: AssociatePublicIpAddress
    value: "true"
  - namespace: aws:ec2:vpc
    option_name: Subnets
    value:
      # - subnet-03556c28b1b91acda
      - subnet-0d85b8312d7d3e31d
container_commands:
  01_migrate:
    command: "/var/app/venv/staging-LQM1lest/bin/python3 /var/app/staging/manage.py migrate"
    leader_only: true
Resources:
  AWSEBSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupName: eb-demo
      GroupDescription: Security group for the EB environment
      SecurityGroupEgress:
        - Description: Allow all vpc traffic out
          CidrIp: 10.193.0.0/16
          IpProtocol: tcp
          FromPort: 443
          ToPort: 443
      SecurityGroupIngress:
        - Description: Allow ssh traffic from the jumpserver
          SourceSecurityGroupId: sg-0fae96ff7eb2f1809
          IpProtocol: tcp
          FromPort: 22
          ToPort: 22
        - Description: Allow all vpc traffic in
          CidrIp: 10.193.0.0/16
          IpProtocol: tcp
          FromPort: 443
          ToPort: 443
        - Description: Allow traffic from the LB
          SourceSecurityGroupId: sg-07076ca607d35ce3c

          IpProtocol: tcp
          FromPort: 443
          ToPort: 443
      VpcId: vpc-0a28496cb7b4cc310
